.card {
    box-shadow: var(--shadow-medium);
    margin: var(--margin-card);
    border-radius: var(--radius-card);
    background: var(--color-surface);
    color: var(--color-surface-text);
    border: var(--border-card);
    overflow: hidden;  /* So rounded corners can cut through the content */
    display: flex;
    flex-flow: column nowrap;
}

.card > section {
    padding: var(--padding-card);
}

.card > figure > figcaption {
    padding: var(--padding-card-figcaption);
}

.card:not(:has(figure)) {
    padding-top: var(--padding-card-top);  /* Figures should be flush with the top */
}

figcaption {
    color: var(--color-caption-text);
}

.card-outline {
    box-shadow: none;
    border: none;
    border-radius: var(--radius-outlined-card);
    outline: var(--outline-outlined-card);
}

.card-horizontal {
    flex-flow: row nowrap;
}

.card-horizontal > figure {
    height: auto;
    max-width: var(--figure-max-size-horizontal-card);
}

.card-horizontal > figure + section {
    /* Beside figure */
    padding-top: var(--padding-card-top);
}