dialog::backdrop {
    background: var(--color-modal-backdrop);
}

dialog:modal {
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    border: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog.sheet-left:modal {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

dialog.sheet-right:modal {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

dialog.sheet-top:modal {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
}

dialog.sheet-bottom:modal {
    display: flex;
    justify-content: stretch;
    align-items: flex-end;
}