@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /* FONTS */
    --body-font: /* body text */
        normal /* style */
        normal /* variant */
        400 /* weight */
        normal /* stretch */
        16px/1.33 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --mono-font: /* code */
        normal /* style */
        normal /* variant */
        400 /* weight */
        normal /* stretch */
        0.9em/1.2 /* size / line height */
        "Roboto Mono", "Noto Sans Mono", "Noto Mono", "Source Code Pro", "Source Code", "source-pro-code", Cousine, Consolas, monospace /* family */
        ;
    --keyboard-font: /* keyboard */
        normal /* style */
        normal /* variant */
        600 /* weight */
        normal /* stretch */
        0.8em/1 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --button-font: /* buttons */
        normal /* style */
        normal /* variant */
        600 /* weight */
        normal /* stretch */
        15px/1 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --gui-font: /* everything not covered by something else */
        var(--body-font);
    --input-font: /* all inputs which show text */
        var(--gui-font);
    --textarea-font: /* textareas */
        var(--mono-font);
    --h6-font: /* h6 */
        normal /* style */
        normal /* variant */
        700 /* weight */
        normal /* stretch */
        15px/1.33 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h5-font: /* h5 */
        normal /* style */
        normal /* variant */
        900 /* weight */
        normal /* stretch */
        18px/1.315 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h4-font: /* h4 */
        normal /* style */
        normal /* variant */
        700 /* weight */
        normal /* stretch */
        19.5px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h3-font: /* h3 */
        normal /* style */
        normal /* variant */
        400 /* weight */
        normal /* stretch */
        22.5px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h2-font: /* h2 */
        normal /* style */
        normal /* variant */
        300 /* weight */
        normal /* stretch */
        28px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h1-font: /* h1 */
        normal /* style */
        normal /* variant */
        300 /* weight */
        normal /* stretch */
        36px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --headline-font: /* h1 as a headline */
        normal /* style */
        normal /* variant */
        100 /* weight */
        normal /* stretch */
        52px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    
    /* COLOURS */
    /* background */                                  /* foreground */
    --color-primary: #3F51B5;                      --color-primary-text: #ffffff;
    --color-primary-1: #303F9F;                    --color-primary-1-text: #ffffff;
    --color-primary-2: #1A237E;                    --color-primary-2-text: #ffffff;
    --color-primary-3: #7986CB;                    --color-primary-3-text: #000000;
    --color-primary-4: #C5CAE9;                    --color-primary-4-text: #000000;

    --color-accent: #E91E63;                       --color-accent-text: #ffffff;
    --color-accent-1: #C2185B;                     --color-accent-1-text: #ffffff;
    --color-accent-2: #880E4F;                     --color-accent-2-text: #ffffff;
    --color-accent-3: #F06292;                     --color-accent-3-text: #000000;
    --color-accent-4: #F8BBD0;                     --color-accent-4-text: #000000;

    --color-background: #fafafa;                   --color-background-text: #000000df;
    --color-surface: #ffffff;                      --color-surface-text: #000000df;
    --color-menu: #fafafa;                         --color-menu-text: #000000cc;
                                                     --color-caption-text: #000000b9;
                                                     --color-label-text: #000000df;

    --color-error: #d50000;                        --color-error-text: #ffffff;
    --color-alert: #ffab00;                        --color-alert-text: #000000;
    --color-info: #00b8d4;                         --color-info-text: #000000;
    --color-success: #00c853;                      --color-success-text: #ffffff;

    --color-callout: #546e7a;                      --color-callout-text: #ffffff;
    --color-callout-1: #37474f;                    --color-callout-1-text: #ffffff;
    --color-callout-2: #78909c;                    --color-callout-2-text: #ffffff;
                                                     --color-callout-button-text: #F8BBD0;

    --color-code: #263238;                         --color-code-text: #ffffff;
    --color-quote: #fafafa;                        --color-quote-text: #000000cc;
    --color-short-code: #f5f5f5;                   --color-short-code-text: #000000cc;
    --color-keyboard: #757575;                     --color-keyboard-text: #ffffff;

                                                     --color-link-text: #1e88e5;
                                                     --color-link-hover-text: #1565c0;
                                                     --color-link-active-text: #1e88e580;
                                                     --color-link-visited-text: #1e88e5;
                                                     --color-link-visited-hover-text: #1565c0;

    --color-button: var(--color-primary);            --color-button-text: var(--color-primary-text);
    --color-button-hover: var(--color-primary);      --color-button-hover-text: var(--color-primary-text);
    --color-button-active: var(--color-primary);     --color-button-active-text: var(--color-primary-text);

    --color-flat-button: transparent;                --color-flat-button-text: var(--color-primary);
    --color-flat-button-hover: #00000020;          --color-flat-button-hover-text: var(--color-primary-2);
    --color-flat-button-active: #00000030;         --color-flat-button-active-text: var(--color-primary-3);

    --color-not-accent: transparent;                 --color-not-accent-text: var(--color-background-text);
    --color-checkbox: var(--color-not-accent);       --color-checkbox-text: var(--color-accent);
    --color-checkbox-active: var(--color-accent);    --color-checkbox-active-text: var(--color-accent-text);
    --color-checkbox-indeterminate: var(--color-accent);--color-checkbox-indeterminate-text: var(--color-accent-text);
    --color-radio: var(--color-not-accent);          --color-radio-text: var(--color-accent);
    --color-radio-active: var(--color-not-accent);   --color-radio-active-text: var(--color-accent);

    --disabled-opacity: .75;

    --color-scheme: light;
    --color-scheme-code: dark;

    /* Shadows and borders */
    --shadow-button: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    --shadow-button-hover: 0 7px 25px -10px rgba(0, 0, 0, 0.12), 0 7px 25px 0 rgba(0, 0, 0, 0.24), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    --shadow-flat-button: none;
    --shadow-flat-button-hover: none;
    --border-button: none;
    --border-button-hover: none;
    --border-flat-button: none;
    --border-flat-button-hover: none;
    --border-checkbox: 0.125em solid currentColor;
    --border-checkbox-checked: 0.125em solid var(--color-checkbox-active);
    --border-checkbox-indeterminate: 0.125em solid var(--color-checkbox-active);
    --border-radio: 0.125em solid currentColor;
    --border-radio-checked: 0.125em solid currentColor;
    --radius-button: 2px;
    --redius-flat-button: 2px;
    --radius-code: 0;
    --radius-short-code: 0.125em;
    --border-code: none;
    --border-short-code: none;
    --radius-card: 0;
    --radius-checkbox: 0.125em;
    --radius-radio: 1em;
    --border-toast: none;
    --radius-toast: 2px;
    --border-card: none;
    --outline-outlined-card: 1px solid #00000080;
    --radius-outlined-card: 4px;
    --shadow-form: 0 0 0 0 transparent;  /* none */
    --shadow-form-checked: 0 0 0 0 transparent;  /* none */
    --shadow-form-indeterminate: 0 0 0 0 transparent;  /* none */
    --shadow-small: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    --shadow-medium: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    --shadow-large: 0 13px 55px -22px rgba(0, 0, 0, 0.12), 0 13px 55px 0 rgba(0, 0, 0, 0.24), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    --shadow-xl: 0 17px 75px -30px rgba(0, 0, 0, 0.12), 0 17px 75px 0 rgba(0, 0, 0, 0.24), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

    /* Sizing */
    --margin-button: 8px;
    --height-button: 36px;
    --padding-button: 4px 8px;
    --gap-button: 4px;
    --min-width-button: 64px;
    --padding-card: 0 12px 12px 12px;
    --padding-card-top: 12px;
    --padding-code: 12px;
    --padding-card-figcaption: 0 12px 12px 12px;
    --margin-card: 8px;
    --size-keyboard: 1.5em;
    --padding-keyboard: 0.375em;
    --figure-max-size-horizontal-card: clamp(200px, 50%, 768px);
    --gap-toast: 8px;
    --min-width-toast: 192px;
    --max-width-toast: 50%;
    --height-toast: 40px;
    --padding-toast: 0 0 0 8px;
    --gap-buttonbox: 4px;
    --gap-label-checkbox: 4px;
    --size-checkbox: 1em;

    /* Animation */
    --transitions-button: background 0.5s, color 0.5s, box-shadow 0.5s;

    /* Positioning */
    --toast-align-horizontal: end;
    --toast-align-vertical: end;
    --toast-stack: column-reverse wrap;
    --gap-toast: 8px;
    --margin-toast: 12px;
}

/* Extra styles */

h6 {
    /* Make it look nicer */
    text-transform: uppercase;
    color: var(--color-accent);
}

:any-link {
    /* Make them nicer, not possible with the font property */
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: .1em;
}

button, .button {
    /* Make it look nicer */
    text-transform: uppercase;
}

.toast-container li {
    /* Toast appear */
    animation: toastSlide 750ms cubic-bezier(0.16, 1, 0.3, 1);
    transform-origin: bottom;
}

.toast-container li.removing {
    /* Toast disappear */
    animation: toastCompress 500ms cubic-bezier(0.55, 0, 1, 0.45);
}

.toast-container li.removing ~ li {
    /* TODO */
}

@keyframes toastSlide {
	0% {
		opacity: 0;
		transform: translateY(100vh);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes toastCompress {
	0% {
		transform: rotateX(0);
        opacity: 1;
	}

	100% {
		transform: rotateX(180deg);
        opacity: 0;
	}
}

input[type="checkbox"]:checked::after, input[type="checkbox"]:indeterminate::after, input[type="radio"]:checked::after {
    /* Checked */
    animation: check 250ms cubic-bezier(0.61, 1, 0.88, 1);
}

input[type="checkbox"], input[type="radio"] {
    /* Transition background */
    transition: box-shadow 250ms cubic-bezier(0.61, 1, 0.88, 1);
}

@keyframes check {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
