@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,700;1,300;1,700&display=swap');

:root {
    /* FONTS */
    --body-font: /* body text */
        normal /* style */
        normal /* variant */
        400 /* weight */
        normal /* stretch */
        16px/1.33 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --table-font:
        normal /* style */
        normal /* variant */
        400 /* weight */
        normal /* stretch */
        15.4px/1.33 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --table-header-font:
        normal /* style */
        normal /* variant */
        500 /* weight */
        normal /* stretch */
        15.4px/1.33 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --mono-font: /* code */
        normal /* style */
        normal /* variant */
        300 /* weight */
        normal /* stretch */
        0.9em/1.2 /* size / line height */
        "Roboto Mono", "Noto Sans Mono", "Noto Mono", "Source Code Pro", "Source Code", "source-pro-code", Cousine, Consolas, monospace /* family */
        ;
    --keyboard-font: /* keyboard */
        normal /* style */
        normal /* variant */
        600 /* weight */
        normal /* stretch */
        0.8em/1 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --button-font: /* buttons */
        normal /* style */
        normal /* variant */
        600 /* weight */
        normal /* stretch */
        15px/1 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --badge-font: /* badges */
        normal /* style */
        normal /* variant */
        700 /* weight */
        normal /* stretch */
        15px/1 /* size / line height */
        "Roboto Mono", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --gui-font: /* everything not covered by something else */
        var(--body-font);
    --input-font: /* all inputs which show text */
        var(--gui-font);
    --textarea-font: /* textareas */
        var(--mono-font);
    --h6-font: /* h6 */
        normal /* style */
        normal /* variant */
        700 /* weight */
        normal /* stretch */
        15px/1.33 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h5-font: /* h5 */
        normal /* style */
        normal /* variant */
        900 /* weight */
        normal /* stretch */
        18px/1.315 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h4-font: /* h4 */
        normal /* style */
        normal /* variant */
        700 /* weight */
        normal /* stretch */
        19.5px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h3-font: /* h3 */
        normal /* style */
        normal /* variant */
        400 /* weight */
        normal /* stretch */
        22.5px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h2-font: /* h2 */
        normal /* style */
        normal /* variant */
        300 /* weight */
        normal /* stretch */
        28px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --h1-font: /* h1 */
        normal /* style */
        normal /* variant */
        300 /* weight */
        normal /* stretch */
        36px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    --headline-font: /* h1 as a headline */
        normal /* style */
        normal /* variant */
        100 /* weight */
        normal /* stretch */
        52px/1.30 /* size / line height */
        "Roboto", "Noto Sans", system-ui, apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Arial", sans-serif /* family */
        ;
    
    /* GENERAL COLOURS */
    /* background */                                  /* foreground */
    --color-primary: #3F51B5;                       --color-primary-text: #ffffff;
    --color-primary-1: #303F9F;                     --color-primary-1-text: #ffffff;
    --color-primary-2: #1A237E;                     --color-primary-2-text: #ffffff;
    --color-primary-3: #7986CB;                     --color-primary-3-text: #000000;
    --color-primary-4: #C5CAE9;                     --color-primary-4-text: #000000;

    --color-accent: #E91E63;                        --color-accent-text: #ffffff;
    --color-accent-1: #C2185B;                      --color-accent-1-text: #ffffff;
    --color-accent-2: #880E4F;                      --color-accent-2-text: #ffffff;
    --color-accent-3: #F06292;                      --color-accent-3-text: #000000;
    --color-accent-4: #F8BBD0;                      --color-accent-4-text: #000000;

    --color-background: #fafafa;                    --color-background-text: #000000df;
    --color-menu: #fafafa;                          --color-menu-text: #000000cc;
                                                      --color-caption-text: #000000b9;
                                                      --color-label-text: #000000df;

    --color-error: #d50000;                         --color-error-text: #ffffff;
    --color-alert: #ffab00;                         --color-alert-text: #000000;
    --color-info: #00b8d4;                          --color-info-text: #000000;
    --color-success: #00c853;                       --color-success-text: #ffffff;

    --color-not-accent: transparent;                  --color-not-accent-text: var(--color-background-text);
    
    --color-scheme: light;

    /* CODE BLOCKS */
    --color-code: #263238;                          --color-code-text: #ffffff;
    --color-quote: #fafafa;                         --color-quote-text: #000000cc;
    --color-short-code: #f5f5f5;                    --color-short-code-text: #000000cc;
    --color-keyboard: #757575;                      --color-keyboard-text: #ffffff;

    --color-scheme-code: dark;

    --size-keyboard: 1.5em;
    --padding-keyboard: 0.375em;
    --padding-code: 12px;

    --radius-code: 0;
    --radius-short-code: 0.125em;
    --border-code: none;
    --border-short-code: none;

    --shadow-keyboard: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

    /* BUTTONS */
    --color-button: var(--color-primary);             --color-button-text: var(--color-primary-text);
    --color-button-hover: var(--color-primary);       --color-button-hover-text: var(--color-primary-text);
    --color-button-active: var(--color-primary);      --color-button-active-text: var(--color-primary-text);
    --color-flat-button: transparent;                 --color-flat-button-text: var(--color-primary);
    --color-flat-button-hover: #00000020;           --color-flat-button-hover-text: var(--color-primary-2);
    --color-flat-button-active: #00000030;          --color-flat-button-active-text: var(--color-primary-3);

    --shadow-button: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    --shadow-button-hover: 0 7px 25px -10px rgba(0, 0, 0, 0.12), 0 7px 25px 0 rgba(0, 0, 0, 0.24), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    --shadow-flat-button: none;
    --shadow-flat-button-hover: none;

    --border-button: none;
    --border-button-hover: none;
    --border-flat-button: none;
    --border-flat-button-hover: none;

    --radius-button: 2px;
    --radius-flat-button: 2px;
    
    --height-button: 36px;
    --padding-button: 4px 8px;
    --gap-button: 4px;
    --min-width-button: 64px;

    /* LINKS */
    --color-link-text: #1e88e5;
    --color-link-hover-text: #1565c0;
    --color-link-active-text: #1e88e580;
    --color-link-visited-text: #1e88e5;
    --color-link-visited-hover-text: #1565c0;

    /* TOASTS */
    --color-callout: #546e7a;                       --color-callout-text: #ffffff;
    --color-callout-1: #37474f;                     --color-callout-1-text: #ffffff;
    --color-callout-2: #78909c;                     --color-callout-2-text: #ffffff;
                                                      --color-callout-button-text: var(--color-accent-4);
    
    --border-toast: none;
    --radius-toast: 2px;
    --gap-toast: 8px;
    --min-width-toast: 192px;
    --max-width-toast: 50%;
    --height-toast: 40px;
    --padding-toast: 0 0 0 8px;
    --toast-align-horizontal: end;
    --toast-align-vertical: end;
    --toast-stack: column-reverse wrap;
    --margin-toast: 12px;

    --shadow-toast: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    
    /* CHECKBOXES */
    --color-checkbox: var(--color-not-accent);        --color-checkbox-text: var(--color-accent);
    --color-checkbox-hover: var(--color-not-accent);  --color-checkbox-hover-text: var(--color-accent);
    --color-checkbox-active: var(--color-accent);     --color-checkbox-active-text: var(--color-accent-text);
    --color-checkbox-indeterminate: var(--color-accent);--color-checkbox-indeterminate-text: var(--color-accent-text);
    --color-checkbox-indeterminate-hover: var(--color-accent);--color-checkbox-indeterminate-hover-text: var(--color-accent-text);
    --color-checkbox-active-hover: var(--color-accent);--color-checkbox-active-hover-text: var(--color-accent-text);
    --color-radio: var(--color-not-accent);           --color-radio-text: var(--color-accent);
    --color-radio-active: var(--color-not-accent);    --color-radio-active-text: var(--color-accent);
    --color-radio-hover: var(--color-not-accent);     --color-radio-hover-text: var(--color-accent);
    --color-radio-active-hover: var(--color-not-accent);--color-radio-active-hover-text: var(--color-accent);

    --border-checkbox: 0.125em solid currentColor;
    --border-checkbox-checked: 0.125em solid var(--color-checkbox-active);
    --border-checkbox-indeterminate: 0.125em solid var(--color-checkbox-indeterminate);
    --border-checkbox-hover: 0.125em solid currentColor;
    --border-checkbox-checked-hover: 0.125em solid var(--color-checkbox-active);
    --border-checkbox-indeterminate-hover: 0.125em solid var(--color-checkbox-indeterminate);
    --border-radio: 0.125em solid currentColor;
    --border-radio-checked: 0.125em solid currentColor;
    --border-radio-hover: 0.125em solid currentColor;
    --border-radio-checked-hover: 0.125em solid currentColor;

    --color-switch: #eeeeee;                        --color-switch-thumb: #757575;
    --color-switch-on: var(--color-accent-4);         --color-switch-thumb-on: var(--color-accent);
    --color-switch-hover: #eeeeee;                  --color-switch-thumb-hover: #757575;
    --color-switch-on-hover: var(--color-accent-4);   --color-switch-thumb-on-hover: var(--color-accent);

    --border-switch: none;
    --border-switch-hover: none;
    --radius-switch: 1em;
    --height-switch: 0.75em;
    --width-switch: 2em;
    --border-switch-thumb: none;
    --border-switch-thumb-hover: none;
    --radius-switch-thumb: 1em;
    --width-switch-thumb: 1em;
    --height-switch-thumb: 1em;
    --padding-switch-thumb: 0em;  /* for some reason, you must set the unit */
    --width-switch-thumb-hover: 1em;
    --height-switch-thumb-hover: 1em;

    --shadow-switch: 0 0 0 0 transparent;  /* none */
    --shadow-switch-thumb: 0 0 2px 0 rgba(0, 0, 0, 0.28), 0 0 3px 0 rgba(0, 0, 0, 0.40);
    --shadow-switch-hover: 0 0 0 0 transparent;  /* none */
    --shadow-switch-thumb-hover: 0 0 2px 0 rgba(0, 0, 0, 0.28), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.40);

    --border-switch-on: none;
    --border-switch-on-hover: none;
    --border-switch-thumb-on: none;
    --border-switch-thumb-on-hover: none;
    --radius-switch-thumb-on: 1em;
    --width-switch-thumb-on: 1em;
    --height-switch-thumb-on: 1em;
    --padding-switch-thumb-on: 0em;  /* for some reason, you must set the unit */
    --width-switch-thumb-on-hover: 1em;
    --height-switch-thumb-on-hover: 1em;

    --shadow-switch-on: 0 0 0 0 transparent;  /* none */
    --shadow-switch-thumb-on: 0 0 2px 0 rgba(0, 0, 0, 0.28), 0 0 3px 0 rgba(0, 0, 0, 0.40);
    --shadow-switch-on-hover: 0 0 0 0 transparent;  /* none */
    --shadow-switch-thumb-on-hover: 0 0 2px 0 rgba(0, 0, 0, 0.28), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.40);

    --radius-checkbox: 0.125em;
    --radius-radio: 1em;
    --size-checkbox: 1em;

    --shadow-form: 0 0 0 0 transparent;  /* none */
    --shadow-form-checked: 0 0 0 0 transparent;  /* none */
    --shadow-form-indeterminate: 0 0 0 0 transparent;  /* none */
    --shadow-form-hover: 0 0 0 0 transparent;  /* none */
    --shadow-form-checked-hover: 0 0 0 0 transparent;  /* none */
    --shadow-form-indeterminate-hover: 0 0 0 0 transparent;  /* none */

    /* RANGES */
    --color-range: var(--color-accent-4);            --color-range-text: var(--color-accent);
    --color-range-hover: var(--color-accent-4);      --color-range-hover-text: var(--color-accent);

    --border-range: none;
    --border-range-hover: none;
    --radius-range: 1em;
    --height-range: 0.75em;
    --border-range-thumb: none;
    --border-range-thumb-hover: none;
    --position-range-thumb: -12.5%;
    --position-range-thumb-hover: -12.5%;
    --radius-range-thumb: 1em;
    --width-range-thumb: 1em;
    --height-range-thumb: 1em;
    --width-range-thumb-hover: 1em;
    --height-range-thumb-hover: 1em;
    --shadow-range: 0 0 0 0 transparent;  /* none */
    --shadow-range-thumb: 0 0 2px 0 rgba(0, 0, 0, 0.28), 0 0 3px 0 rgba(0, 0, 0, 0.40);
    --shadow-range-hover: 0 0 0 0 transparent;  /* none */
    --shadow-range-thumb-hover: 0 0 2px 0 rgba(0, 0, 0, 0.28), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.40);

    /* CARDS */
    --color-card: #ffffff;                          --color-card-text: #000000df;
    --color-figcaption-text: #000000df;

    --radius-card: 0;
    --outline-outlined-card: 1px solid #00000080;
    --radius-outlined-card: 4px;
    --border-card: none;
    --shadow-card: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.12);

    --padding-card: 0 12px 12px 12px;
    --padding-card-top: 12px;
    --padding-card-figcaption: 0 12px 12px 12px;
    --figure-max-size-horizontal-card: clamp(200px, 50%, 768px);

    /* LAYOUT */
    --gap-buttonbox: 4px;
    --gap-label-checkbox: 4px;
    --gap-box: 16px;

    /* NAVBAR */
    --color-navbar: var(--color-primary);            --color-navbar-text: var(--color-primary-text);
    --color-navbar-link: var(--color-primary-text);
    
    --height-navbar: 56px;
    --padding-navbar: 16px;
    --gap-navbar: 8px;
    --shadow-navbar: 0 7px 25px -10px rgba(0, 0, 0, 0.12), 0 7px 25px 0 rgba(0, 0, 0, 0.24), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    --border-navbar: none;
    --radius-navbar: 0;

    /* BREADCRUMBS */
    --color-breadcrumbs: var(--color-primary-1);     --color-breadcrumbs-text: var(--color-primary-1-text);
    --color-breadcrumbs-link: var(--color-primary-1-text);
    --color-breadcrumbs-separator: var(--color-primary-3);

    --height-breadcrumbs: 32px;
    --padding-breadcrumbs: 16px;
    --shadow-breadcrumbs: none;
    --border-breadcrumbs: none;
    --radius-breadcrumbs: 0;
    --separator-breadcrumbs: "  >  ";

    /* TABS */
    --color-tab: var(--color-primary);               --color-tab-text: var(--color-primary-text);
    --color-tab-selected: var(--color-primary);      --color-tab-selected-text: var(--color-primary-text);
    --color-tab-hover: var(--color-primary);         --color-tab-hover-text: var(--color-primary-text);
    --color-tab-hover-selected: var(--color-primary);--color-tab-hover-selected-text: var(--color-primary-text);

    --justify-tab-row: space-around;
    --height-tab: 36px;
    --width-tab: 80px;
    --align-tab: center;
    --border-tab: none;
    --border-tab-selected: 0 0 4px solid var(--color-accent) 0;
    --radius-tab: 0;

    /* DIVIDERS */
    --line-divider: 1px solid #00000080;

    /* LISTS */
    --style-unordered-list: disc;
    --color-unordered-list-marker: currentColor;
    --font-unordered-list-marker: var(--body-font);
    --indent-unordered-list: 1em;

    --style-ordered-list: decimal;
    --color-ordered-list-marker: currentColor;
    --font-ordered-list-marker: var(--body-font);
    --indent-ordered-list: 1em;

    /* TABLES */
    --padding-cell: 1ch;
    --border-cell-horizontal: 1px solid #00000020;
    --border-cell-vertical: 1px solid #00000040;
    --color-table: #fafafa;                        --color-table-text: #000000;
    --color-row-odd: #00000010;                    --color-row-odd-text: #000000;
    --color-row-even: transparent;                   --color-row-even-text: #000000;
    --color-row-header: var(--color-primary-1);      --color-row-header-text: var(--color-primary-1-text);

    /* BADGES */
    --border-badge: none;
    --shadow-badge: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    --x-badge: 100%;
    --y-badge: 0;
    --width-badge: 3ch;
    --height-badge: 3ch;
    --radius-badge: 3ch;
    --padding-badge: 0.5ch;
    --color-badge: var(--color-accent);              --color-badge-text: var(--color-accent-text);

    /* AVATARS */
    --radius-avatar: 50%;

    /* BUBBLES */
    --border-bubble: none;
    --shadow-bubble: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    --radius-bubble: 1em;
    --padding-bubble: 1ch;
    --color-bubble: var(--color-accent-1);           --color-bubble-text: var(--color-accent-1-text);
    --color-bubble-alt: var(--color-accent-4);       --color-bubble-alt-text: var(--color-accent-4-text);

    /* INPUTS */
    --color-input: #ffffff;                        --color-input-text: #000000bb;
    --color-input-hover: #ffffff;                  --color-input-hover-text: #000000bb;
    --color-input-active: #ffffff;                 --color-input-active-text: #000000df;
    --color-flat-input: transparent;                 --color-flat-input-text: #000000bb;
    --color-flat-input-hover: transparent;           --color-flat-input-hover-text: #000000bb;
    --color-flat-input-active: transparent;          --color-flat-input-active-text: #000000df;

    --shadow-input: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    --shadow-input-hover: 0 7px 25px -10px rgba(0, 0, 0, 0.12), 0 7px 25px 0 rgba(0, 0, 0, 0.24), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    --shadow-input-active: 0 7px 25px -10px rgba(0, 0, 0, 0.12), 0 7px 25px 0 rgba(0, 0, 0, 0.24), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    --shadow-flat-input: none;
    --shadow-flat-input-hover: none;
    --shadow-flat-input-active: none;

    --border-input: none;
    --border-input-hover: none;
    --border-input-active: none;
    --border-flat-input: none;
    --border-flat-input-hover: none;
    --border-flat-input-active: none;

    --radius-input: 2px;
    --radius-flat-input: 2px;
    
    --height-input: 36px;
    --padding-input: 4px 8px;
    --min-width-input: 64px;

    --size-input-icon: 16px;
}

/* Extra styles */

h6 {
    /* Make it look nicer */
    text-transform: uppercase;
    color: var(--color-accent);
}

:any-link {
    /* Make them nicer, not possible with the font property */
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: .1em;
}

button, .button, input[type=button], input[type=submit], input[type=reset], input[type="file"]::file-selector-button {
    /* Make it look nicer */
    text-transform: uppercase;
}

.toast-container li {
    /* Toast appear */
    animation: toastSlide 750ms cubic-bezier(0.16, 1, 0.3, 1);
    transform-origin: bottom;
}

.toast-container li.removing {
    /* Toast disappear */
    animation: toastCompress 500ms cubic-bezier(0.55, 0, 1, 0.45);
}

.toast-container li.removing ~ li {
    /* TODO */
}

@keyframes toastSlide {
	0% {
		opacity: 0;
		transform: translateY(100vh);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes toastCompress {
	0% {
		transform: rotateX(0);
        opacity: 1;
	}

	100% {
		transform: rotateX(180deg);
        opacity: 0;
	}
}

input[type="checkbox"]:not(.switch):checked::after, input[type="checkbox"]:not(.switch):indeterminate::after, input[type="radio"]:checked::after {
    /* Checked */
    animation: check 250ms cubic-bezier(0.61, 1, 0.88, 1);
}

input[type="checkbox"]:not(.switch), input[type="radio"] {
    /* Transition background */
    transition: box-shadow 250ms cubic-bezier(0.61, 1, 0.88, 1);
}

input[type="checkbox"].switch::after {
    /* Transition switch thumb */
    transition: transform 500ms cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 375ms cubic-bezier(0.61, 1, 0.88, 1);
}

input[type="range"]::-webkit-slider-thumb {
    transition: box-shadow 375ms cubic-bezier(0.61, 1, 0.88, 1);
}

input[type="range"]::-moz-range-thumb {
    transition: box-shadow 375ms cubic-bezier(0.61, 1, 0.88, 1);
}

button, .button, input[type="file"]::file-selector-button, input, select {
    transition: box-shadow 375ms cubic-bezier(0.5, 1, 0.89, 1), background 375ms cubic-bezier(0.5, 1, 0.89, 1), color 375ms cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes check {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.navbar {
    position: sticky;
}

:is(.navbar, .breadcrumbs) a:not(:hover) {
    text-decoration: none;
}

x-notebook > label:has(input[type="radio"]:checked) {
    border-bottom: 4px solid var(--color-accent);
    transition: border 125ms ease;
}

x-notebook > label {
    text-transform: uppercase;
    font-weight: 600;
    flex: 1 0 auto;
}

th, ol.table > li.list-header {
    border: none;
}

tbody th {
    text-align: end;
}

thead th {
    vertical-align: bottom;
    text-align: center;
}

.chat-bubble::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border: 0.75em solid;
    border-color: transparent var(--color-bubble) transparent transparent;
    left: -1.5em;
    top: 1em;
}

.bubble-alt::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border: 0.75em solid;
    border-color: transparent transparent transparent var(--color-bubble-alt);
    transform: translateX(100%);
    width: 100%;
    left: 0;
    top: 1em;
}

::placeholder {
    opacity: 0.5;
}

:is(input:not([type=button], [type=checkbox], [type=radio], [type=submit], [type=reset], [type=file], [type=range], [type=color]), select).input-flat {
    border-bottom: 2px solid var(--color-primary) !important;
}

:disabled {
    opacity: 0.5;
}

input[type="color"] {
    padding: 0;
    border: 0;
    overflow: hidden;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}