body {
    font: var(--gui-font);
    background: var(--color-background);
    color-scheme: var(--color-scheme);
    color: var(--color-background-text);
}

h1.headline {
    font: var(--headline-font);
}

h1 {
    font: var(--h1-font);
}

h2 {
    font: var(--h2-font);
}

h3 {
    font: var(--h3-font);
}

h4 {
    font: var(--h4-font);
}

h5 {
    font: var(--h5-font);
}

h6 {
    font: var(--h6-font);
}

p, section {
    font: var(--body-font);
}

label {
    color: var(--color-label-text);
}
