@import url("/efficient-ui/MASTER.css");

#wrap-example > .card {
    min-width: clamp(320px, 50%, 400px);
}

#flow-example > .card {
    min-width: clamp(320px, 50%, 400px);
}

#form-examples > .card {
    min-width: clamp(320px, 50%, 400px);
}

#inputs-examples :is(input, select) {
    width: 100%;
}